*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: white;
  font-family: sans-serif;
  background-color: #06020d;
  background-image: url(./public/img/bg.jpeg);
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}

.blurred {
  filter: blur(3px);
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  padding: 2rem 0rem;
}

.header-left {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  padding: 0.5rem;
  border-right: 2px solid white;
}

.weather-icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.weather-icon.large {
  width: 80px;
  height: 80px;
}

.header-current-temp {
  font-size: 2rem;
  margin-left: 1rem;
}

.header-right {
  display: grid;
  width: 50%;
  justify-content: space-around;
  gap: 0.5rem;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
}

.info-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  color: white;
}

.value-sub-info {
  font-weight: lighter;
  font-size: 0.75rem;
}

.day-section {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 75px);
  padding: 2rem 0rem;
  gap: 1rem;
  align-items: center;
}

.day-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  border-radius: 0.25rem;
  padding: 0.25rem;
}

.day-card-day {
  font-size: 0.75rem;
  color: white;
  margin-top: 0.5rem;
}

.day-card svg {
  fill: white;
}

.hour-section {
  width: 100%;
  text-align: center;
  border-spacing: 0;
}

.hour-row {
  background-color: #523b7b57;
}

.hour-row > td {
  padding: 0.25rem 0.5rem;
}

.hour-row:nth-child(2n) {
  background-color: #06020d1a;
}
